# Data pre-processing in SpaceX

## Exploratory Data Analysis

### Load the dataset and import necessary libraries:

We will import pandas library to read a file.

In [1]:
import pandas as pd
df = pd.read_csv("dataset_falcon9.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FlightNumber    90 non-null     int64
 1   Date            90 non-null     object
 2   BoosterVersion  90 non-null     object
 3   PayloadMass     90 non-null     float64
 4   Orbit           90 non-null     object
 5   LaunchSite      90 non-null     object
 6   Outcome         90 non-null     object
 7   Flights         90 non-null     int64
 8   GridFins        90 non-null     bool
 9   Reused          90 non-null     bool
 10  Legs            90 non-null     bool
 11  LandingPad      64 non-null     object
 12  Block           90 non-null     float64
 13  ReusedCount     90 non-null     int64
 14  Serial          90 non-null     object
 15  Longitude       90 non-null     float64
 16  Latitude        90 non-null     float64
 17  Class           90 non-null     int64
dtypes: bool(3), float64(4), int64(4), object(7)
memory usage: 10.9+ KB

We can also check each column info, for instance:

In [2]:
df["FlightNumber"]
df["FlightNumber"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 90 entries, 0 to 89
Series name: FlightNumber
Non-Null Count  Dtype
--------------  -----
90 non-null     int64
dtypes: int64(1)
memory usage: 848.0 bytes

In [3]:
df["BoosterVersion"]
df["BoosterVersion"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 90 entries, 0 to 89
Series name: BoosterVersion
Non-Null Count  Dtype
--------------  -----
90 non-null     object
dtypes: object(1)
memory usage: 848.0+ bytes

We can check count, mean, std, min, max and etc by following method:

In [4]:
df.describe()

,FlightNumber,PayloadMass,Flights,Block,ReusedCount,Longitude,Latitude,Class
count,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000
mean,45.500000,6104.959412,1.788889,3.500000,1.655556,-86.366477,29.449963,0.666667
std,26.124701,4694.671720,1.213172,1.595288,1.710254,14.149518,2.141306,0.474045
min,1.000000,350.000000,1.000000,1.000000,0.000000,-120.610829,28.561857,0.000000
25%,23.250000,2510.750000,1.000000,2.000000,0.000000,-80.603956,28.561857,0.000000
50%,45.500000,4701.500000,1.000000,4.000000,1.000000,-80.577366,28.561857,1.000000
75%,67.750000,8912.750000,2.000000,5.000000,3.000000,-80.577366,28.608058,1.000000
max,90.000000,15600.000000,6.000000,5.000000,5.000000,-80.577366,34.632093,1.000000

## Data Preparation
### Manipulate Missing Values

We will check the missing vale and make an decision about how handle them in data frame:

In [5]:
#detecting missing values
df.columns[df.isna().any()].tolist()

['LandingPad']

In [6]:
#total missing values
df["LandingPad"].isnull().sum()

26

In [7]:
#Checking the column LandingPad with missing value and comparing it with the related column('orbit')
df['LandingPad'].value_counts()

5e9e3032383ecb6bb234e7ca    35
5e9e3032383ecb267a34e7c7    13
5e9e3033383ecbb9e534e7cc    12
5e9e3032383ecb761634e7cb     2
5e9e3032383ecb554034e7c9     2
Name: LandingPad, dtype: int64

In [8]:
df[['LandingPad', 'Orbit']]

                  LandingPad Orbit
0                        NaN   LEO
1                        NaN   LEO
2                        NaN   ISS
3                        NaN    PO
4                        NaN   GTO
..                       ...   ...
85  5e9e3032383ecb6bb234e7ca  VLEO
86  5e9e3032383ecb6bb234e7ca  VLEO
87  5e9e3032383ecb6bb234e7ca  VLEO
88  5e9e3033383ecbb9e534e7cc  VLEO
89  5e9e3032383ecb6bb234e7ca   MEO

[90 rows x 2 columns]

### Remove additional features

We will search more about the features and remove the additional features that do not affect on the analysis:

In [9]:
df = df.drop(['FlightNumber','Date','BoosterVersion','Longitude','Latitude'],axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PayloadMass  90 non-null     float64
 1   Orbit        90 non-null     object
 2   LaunchSite   90 non-null     object
 3   Outcome      90 non-null     object
 4   Flights      90 non-null     int64
 5   GridFins     90 non-null     bool
 6   Reused       90 non-null     bool
 7   Legs         90 non-null     bool
 8   LandingPad   64 non-null     object
 9   Block        90 non-null     float64
 10  ReusedCount  90 non-null     int64
 11  Serial       90 non-null     object
 12  Class        90 non-null     int64
dtypes: bool(3), float64(2), int64(3), object(5)
memory usage: 7.4+ KB

### Feature Engineering: Convert object and boolean columns to number

All data need to be in number to analyze, so we will convert object columns to number by using get_dummies method:

In [10]:
df_dummy = pd.get_dummies(df[['Orbit', 'LaunchSite', 'Outcome', 'LandingPad', 'Serial']])
df_dummy

,Orbit_ES-L1,Orbit_GEO,Orbit_GTO,Orbit_HEO,Orbit_ISS,Orbit_LEO,Orbit_MEO,Orbit_PO,Orbit_SO,Orbit_SSO,...,Serial_B1048,Serial_B1049,Serial_B1050,Serial_B1051,Serial_B1054,Serial_B1056,Serial_B1058,Serial_B1059,Serial_B1060,Serial_B1062
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
86,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
87,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
88,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
89,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

We will remove the previous columns (object) from dataset and merge it with new columns (number):

In [11]:
df = df.drop(['Orbit', 'LaunchSite', 'Outcome', 'LandingPad', 'Serial'], axis=1)
df = pd.concat([df, df_dummy], axis = 1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 88 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   PayloadMass                          90 non-null     float64
 1   Flights                              90 non-null     int64
 2   GridFins                             90 non-null     bool
 3   Reused                               90 non-null     bool
 4   Legs                                 90 non-null     bool
 5   Block                                90 non-null     float64
 6   ReusedCount                          90 non-null     int64
 7   Class                                90 non-null     int64
 8   Orbit_ES-L1                          90 non-null     uint8
 9   Orbit_GEO                            90 non-null     uint8
 10  Orbit_GTO                            90 non-null     uint8
 11  Orbit_HEO                            90 non-null     uint8
 12  Orbit_ISS                            90 non-null     uint8
 13  Orbit_LEO                            90 non-null     uint8
 14  Orbit_MEO                            90 non-null     uint8
 15  Orbit_PO                             90 non-null     uint8
 16  Orbit_SO                             90 non-null     uint8
 17  Orbit_SSO                            90 non-null     uint8
 18  Orbit_VLEO                           90 non-null     uint8
 19  LaunchSite_CCAFS SLC 40              90 non-null     uint8
 20  LaunchSite_KSC LC 39A                90 non-null     uint8
 21  LaunchSite_VAFB SLC 4E               90 non-null     uint8
 22  Outcome_False ASDS                   90 non-null     uint8
 23  Outcome_False Ocean                  90 non-null     uint8
 24  Outcome_False RTLS                   90 non-null     uint8
 25  Outcome_None ASDS                    90 non-null     uint8
 26  Outcome_None None                    90 non-null     uint8
 27  Outcome_True ASDS                    90 non-null     uint8
 28  Outcome_True Ocean                   90 non-null     uint8
 29  Outcome_True RTLS                    90 non-null     uint8
 30  LandingPad_5e9e3032383ecb267a34e7c7  90 non-null     uint8
 31  LandingPad_5e9e3032383ecb554034e7c9  90 non-null     uint8
 32  LandingPad_5e9e3032383ecb6bb234e7ca  90 non-null     uint8
 33  LandingPad_5e9e3032383ecb761634e7cb  90 non-null     uint8
 34  LandingPad_5e9e3033383ecbb9e534e7cc  90 non-null     uint8
 35  Serial_B0003                         90 non-null     uint8
 36  Serial_B0005                         90 non-null     uint8
 37  Serial_B0007                         90 non-null     uint8
 38  Serial_B1003                         90 non-null     uint8
 39  Serial_B1004                         90 non-null     uint8
 40  Serial_B1005                         90 non-null     uint8
 41  Serial_B1006                         90 non-null     uint8
 42  Serial_B1007                         90 non-null     uint8
 43  Serial_B1008                         90 non-null     uint8
 44  Serial_B1010                         90 non-null     uint8
 45  Serial_B1011                         90 non-null     uint8
 46  Serial_B1012                         90 non-null     uint8
 47  Serial_B1013                         90 non-null     uint8
 48  Serial_B1015                         90 non-null     uint8
 49  Serial_B1016                         90 non-null     uint8
 50  Serial_B1017                         90 non-null     uint8
 51  Serial_B1018                         90 non-null     uint8
 52  Serial_B1019                         90 non-null     uint8
 53  Serial_B1020                         90 non-null     uint8
 54  Serial_B1021                         90 non-null     uint8
 55  Serial_B1022                         90 non-null     uint8
 56  Serial_B1023                         90 non-null     uint8
 57  Serial_B1025                         90 non-null     uint8
 58  Serial_B1026                         90 non-null     uint8
 59  Serial_B1028                         90 non-null     uint8
 60  Serial_B1029                         90 non-null     uint8
 61  Serial_B1030                         90 non-null     uint8
 62  Serial_B1031                         90 non-null     uint8
 63  Serial_B1032                         90 non-null     uint8
 64  Serial_B1034                         90 non-null     uint8
 65  Serial_B1035                         90 non-null     uint8
 66  Serial_B1036                         90 non-null     uint8
 67  Serial_B1037                         90 non-null     uint8
 68  Serial_B1038                         90 non-null     uint8
 69  Serial_B1039                         90 non-null     uint8
 70  Serial_B1040                         90 non-null     uint8
 71  Serial_B1041                         90 non-null     uint8
 72  Serial_B1042                         90 non-null     uint8
 73  Serial_B1043                         90 non-null     uint8
 74  Serial_B1044                         90 non-null     uint8
 75  Serial_B1045                         90 non-null     uint8
 76  Serial_B1046                         90 non-null     uint8
 77  Serial_B1047                         90 non-null     uint8
 78  Serial_B1048                         90 non-null     uint8
 79  Serial_B1049                         90 non-null     uint8
 80  Serial_B1050                         90 non-null     uint8
 81  Serial_B1051                         90 non-null     uint8
 82  Serial_B1054                         90 non-null     uint8
 83  Serial_B1056                         90 non-null     uint8
 84  Serial_B1058                         90 non-null     uint8
 85  Serial_B1059                         90 non-null     uint8
 86  Serial_B1060                         90 non-null     uint8
 87  Serial_B1062                         90 non-null     uint8
dtypes: bool(3), float64(2), int64(3), uint8(80)
memory usage: 10.9 KB

Since all data need to be in number to analyze, so we will convert boolean columns to integer by using following method:

In [12]:
df["GridFins"] = df["GridFins"].astype(int)
df["GridFins"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 90 entries, 0 to 89
Series name: GridFins
Non-Null Count  Dtype
--------------  -----
90 non-null     int32
dtypes: int32(1)
memory usage: 488.0 bytes

In [13]:
df["Reused"] = df["Reused"].astype(int)
df["Reused"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 90 entries, 0 to 89
Series name: Reused
Non-Null Count  Dtype
--------------  -----
90 non-null     int32
dtypes: int32(1)
memory usage: 488.0 bytes

In [14]:
df["Legs"] = df ["Legs"].astype(int)
df["Legs"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 90 entries, 0 to 89
Series name: Legs
Non-Null Count  Dtype
--------------  -----
90 non-null     int32
dtypes: int32(1)
memory usage: 488.0 bytes

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 88 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   PayloadMass                          90 non-null     float64
 1   Flights                              90 non-null     int64
 2   GridFins                             90 non-null     int32
 3   Reused                               90 non-null     int32
 4   Legs                                 90 non-null     int32
 5   Block                                90 non-null     float64
 6   ReusedCount                          90 non-null     int64
 7   Class                                90 non-null     int64
 8   Orbit_ES-L1                          90 non-null     uint8
 9   Orbit_GEO                            90 non-null     uint8
 10  Orbit_GTO                            90 non-null     uint8
 11  Orbit_HEO                            90 non-null     uint8
 12  Orbit_ISS                            90 non-null     uint8
 13  Orbit_LEO                            90 non-null     uint8
 14  Orbit_MEO                            90 non-null     uint8
 15  Orbit_PO                             90 non-null     uint8
 16  Orbit_SO                             90 non-null     uint8
 17  Orbit_SSO                            90 non-null     uint8
 18  Orbit_VLEO                           90 non-null     uint8
 19  LaunchSite_CCAFS SLC 40              90 non-null     uint8
 20  LaunchSite_KSC LC 39A                90 non-null     uint8
 21  LaunchSite_VAFB SLC 4E               90 non-null     uint8
 22  Outcome_False ASDS                   90 non-null     uint8
 23  Outcome_False Ocean                  90 non-null     uint8
 24  Outcome_False RTLS                   90 non-null     uint8
 25  Outcome_None ASDS                    90 non-null     uint8
 26  Outcome_None None                    90 non-null     uint8
 27  Outcome_True ASDS                    90 non-null     uint8
 28  Outcome_True Ocean                   90 non-null     uint8
 29  Outcome_True RTLS                    90 non-null     uint8
 30  LandingPad_5e9e3032383ecb267a34e7c7  90 non-null     uint8
 31  LandingPad_5e9e3032383ecb554034e7c9  90 non-null     uint8
 32  LandingPad_5e9e3032383ecb6bb234e7ca  90 non-null     uint8
 33  LandingPad_5e9e3032383ecb761634e7cb  90 non-null     uint8
 34  LandingPad_5e9e3033383ecbb9e534e7cc  90 non-null     uint8
 35  Serial_B0003                         90 non-null     uint8
 36  Serial_B0005                         90 non-null     uint8
 37  Serial_B0007                         90 non-null     uint8
 38  Serial_B1003                         90 non-null     uint8
 39  Serial_B1004                         90 non-null     uint8
 40  Serial_B1005                         90 non-null     uint8
 41  Serial_B1006                         90 non-null     uint8
 42  Serial_B1007                         90 non-null     uint8
 43  Serial_B1008                         90 non-null     uint8
 44  Serial_B1010                         90 non-null     uint8
 45  Serial_B1011                         90 non-null     uint8
 46  Serial_B1012                         90 non-null     uint8
 47  Serial_B1013                         90 non-null     uint8
 48  Serial_B1015                         90 non-null     uint8
 49  Serial_B1016                         90 non-null     uint8
 50  Serial_B1017                         90 non-null     uint8
 51  Serial_B1018                         90 non-null     uint8
 52  Serial_B1019                         90 non-null     uint8
 53  Serial_B1020                         90 non-null     uint8
 54  Serial_B1021                         90 non-null     uint8
 55  Serial_B1022                         90 non-null     uint8
 56  Serial_B1023                         90 non-null     uint8
 57  Serial_B1025                         90 non-null     uint8
 58  Serial_B1026                         90 non-null     uint8
 59  Serial_B1028                         90 non-null     uint8
 60  Serial_B1029                         90 non-null     uint8
 61  Serial_B1030                         90 non-null     uint8
 62  Serial_B1031                         90 non-null     uint8
 63  Serial_B1032                         90 non-null     uint8
 64  Serial_B1034                         90 non-null     uint8
 65  Serial_B1035                         90 non-null     uint8
 66  Serial_B1036                         90 non-null     uint8
 67  Serial_B1037                         90 non-null     uint8
 68  Serial_B1038                         90 non-null     uint8
 69  Serial_B1039                         90 non-null     uint8
 70  Serial_B1040                         90 non-null     uint8
 71  Serial_B1041                         90 non-null     uint8
 72  Serial_B1042                         90 non-null     uint8
 73  Serial_B1043                         90 non-null     uint8
 74  Serial_B1044                         90 non-null     uint8
 75  Serial_B1045                         90 non-null     uint8
 76  Serial_B1046                         90 non-null     uint8
 77  Serial_B1047                         90 non-null     uint8
 78  Serial_B1048                         90 non-null     uint8
 79  Serial_B1049                         90 non-null     uint8
 80  Serial_B1050                         90 non-null     uint8
 81  Serial_B1051                         90 non-null     uint8
 82  Serial_B1054                         90 non-null     uint8
 83  Serial_B1056                         90 non-null     uint8
 84  Serial_B1058                         90 non-null     uint8
 85  Serial_B1059                         90 non-null     uint8
 86  Serial_B1060                         90 non-null     uint8
 87  Serial_B1062                         90 non-null     uint8
dtypes: float64(2), int32(3), int64(3), uint8(80)
memory usage: 11.7 KB

### Save the preprocessed dataset

In [16]:
#Save the dataset in the same folder:
df.to_csv("New_Preprocessed_SpaceX.csv")

In [17]:
#Save the dataset in a new address in the computer:
df.to_csv("G:\\Data science bootcamp\\New_Preprocessed_SpaceX.csv")

#### DONE! The dataset is ready for model training, model building and model testing.